
.fang-furnished:before { content: '\e800'; } /* '' */
.fang-calendar:before { content: '\e801'; } /* '' */
.fang-cooking:before { content: '\e802'; } /* '' */
.fang-garage:before { content: '\e803'; } /* '' */
.fang-aircon:before { content: '\e804'; } /* '' */
.fang-bill-include:before { content: '\e805'; } /* '' */
.fang-ensuite:before { content: '\e806'; } /* '' */
.fang-gym:before { content: '\e807'; } /* '' */
.fang-bbq:before { content: '\e808'; } /* '' */
.fang-arrows:before { content: '\f100'; } /* '' */
.fang-apartment:before { content: '\f101'; } /* '' */
.fang-email:before { content: '\f102'; } /* '' */
.fang-favorite:before { content: '\f103'; } /* '' */
.fang-filter:before { content: '\f104'; } /* '' */
.fang-cctv:before { content: '\f105'; } /* '' */
.fang-listing:before { content: '\f106'; } /* '' */
.fang-phone:before { content: '\f107'; } /* '' */
.fang-female-prefer:before { content: '\f108'; } /* '' */
.fang-search:before { content: '\f109'; } /* '' */
.fang-user:before { content: '\f10a'; } /* '' */
.fang-wechat:before { content: '\f10b'; } /* '' */
.fang-house:before { content: '\f10c'; } /* '' */
.fang-internet:before { content: '\f10d'; } /* '' */
.fang-living-room:before { content: '\f10e'; } /* '' */
.fang-location:before { content: '\f10f'; } /* '' */
.fang-master-room:before { content: '\f110'; } /* '' */
.fang-no-smoking:before { content: '\f111'; } /* '' */
.fang-pet-friendly:before { content: '\f112'; } /* '' */
.fang-private-room:before { content: '\f113'; } /* '' */
.fang-shared-room:before { content: '\f114'; } /* '' */
.fang-swimming:before { content: '\f115'; } /* '' */